.grid-about {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 20px;
    margin-top: 40px;

    background-color: #282C34;
}

.grid-about__left {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.grid-about-left__img-square {
    display: flex;
    width: 200px;
    padding: 10px;

    border-radius: 50%;
    border: 5px solid #47CF73;
    background-color: #38404e9d;
}

.grid-about-left__img-tongue {
    width: 100%;
    height: auto;
}

.grid-about-left__name {
    font-size: 30px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
    
    color: white;
}

.grid-about-left__social {
    display: flex;
}

.grid-about-left-social__email {
    width: 50px;
    padding-right: 35px;

    filter: invert(63%) sepia(70%) saturate(380%) hue-rotate(87deg) brightness(94%) contrast(92%);
}

.grid-about-left-social__linkedin {
    width: 50px;
    padding-right: 35px;
    
    filter: invert(63%) sepia(70%) saturate(380%) hue-rotate(87deg) brightness(94%) contrast(92%);
}

.grid-about-left-social__github {
    width: 50px;
    
    filter: invert(63%) sepia(70%) saturate(380%) hue-rotate(87deg) brightness(94%) contrast(92%);
}

.grid-about__right h2,h3 {
    padding: 10px 0;
    
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
}

.grid-about__right h3 {
    font-size: 30px;
}


.grid-about-right__flex-text-about {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.grid-about-right__icon-about {
    width: 40px;
    padding-right: 15px;
    filter: invert(63%) sepia(70%) saturate(380%) hue-rotate(87deg) brightness(94%) contrast(92%);
}

@media screen and (max-width: 570px) {
    .grid-about {
        grid-template-columns: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 150px;
    }
    
    .grid-about__left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
    }

    .grid-about-left__social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-about-left__name {
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }
    
    .grid-about-left__img-square{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-about-right__flex-text-about {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .grid-about__right p {
        font-size: 15px;
        padding: 15px;
    }

    .grid-about__right h3 {
        font-size: 30px;
        padding: 15px;
    }

    .grid-hero__right{
        width: 0;
        height: 0;
    }
}

@media screen and (max-width:280px) {
    .grid-about-left__img-square {
        display: none;
    }

    .grid-about-left__img-tongue {
        display: none;
    }

    .grid-about-left__name{
        margin-top: 1em;
    }
    
}