.header-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    
    border: 2px solid black;
    background-color: #282C34;
}

.header-logo {
    display: flex;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
}


.header-logo p {
    padding: 0 10px;
    color: aqua;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Inconsolata', monospace;
}


.header-menu {
    display: flex;
}

.header-menu li {
    margin-left: 70px;
}

.header-menu li a {
    display: block;
    padding: 10px;
    border-bottom: 2px solid aqua;
    border-bottom-width: thin;
}