.header-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    
    background-color: #282C34;
}

.header-principal__logo {
    display: flex;
    
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
}

.header-principal__logo p {
    padding: 0 10px;
    
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
    
    color: #47CF73;
}

.header-principal__menu {
    display: flex;
}

.header-principal__menu li {
    margin-left: 70px;
}

.header-principal__menu li a {
    display: block;
    padding: 10px;
    
    border-bottom: 2px solid #47CF73;
    border-bottom-width: thin;
}

@media screen and (max-width: 846px) {
    .header-principal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-principal__menu {
        display: flex;
        padding-top: 15px;
    }
}


@media screen and (max-width: 625px) {
    .header-principal__menu {
        display: none;
    }

    .header-principal {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}