.grid-hero {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 20px;
    padding-top: 100px;
    
    background-color: #282C34;
}

.grid-hero__left {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 25px;
    
    background-color: #282C34;
}

.grid-hero-left__name {
    padding-left: 10px; 
    
    font-size: 2.8rem;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
    
    color: white;
}

.grid-hero-left__job {
    padding-left: 10px;
    margin: 0;

    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    
    color: #47CF73;
}

.grid-hero-left__about {
    padding: 15px 10px;
    
    color: white;
}

.grid-hero-left__button {
    display: block;
    margin: 10px;
    padding: 10px 30px;
    width: fit-content;
    
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
    
    border: 3px solid #47CF73;
}

.grid-hero__right{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    background-color: #282C34;
}

.grid-hero-right__emoji-notebook {
    width: 350px;
}

@media screen and (max-width: 675px){
    .grid-hero-right__emoji-notebook {
        width: 250px;
    }
}

@media screen and (max-width: 520px){
    
    .grid-hero-right__emoji-notebook {
        display: none;
    }
    .grid-hero {
        grid-template-columns: none;
        padding-top: 30px;
    }

    .grid-hero__left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}